<h1 class="flex justify-center text-3xl text-indigo-500 mt-9 font-mono">Edit article</h1>

<%= render 'form' %>

<div class="flex justify-center text-xl text-indigo-500 hover:text-indigo-500/50 font-mono my-10 mb-64">
    <%= link_to 'Cancel and return to articles listing', articles_path %>
</div>

<%= render 'footer' %>