<div class="bg-none font-mono text-center text-indigo-900 bg-cover h-screen w-screen m-0">
  <div class="container grid h-screen w-2/4 place-items-center mx-auto drop-shadow-xl rounded-full font-mono"  style="background-image: url('https://kartinkin.net/uploads/posts/2021-07/1626865482_4-kartinkin-com-p-nezhno-goluboi-fon-akvarel-krasivo-5.jpg')">
    <h1 class="text-5xl font-extrabold text-center italic text-blue-50 p-2">Wellcome to Alpha Blog!</h1>
  </div>

<%= render 'articles/footer' %>