<div class="font-mono text-center">
  <div class="container mx-auto bg-indigo-100 rounded-full font-mono">
    <h1 class="text-5xl text-center pt-10">Wellcome to Alpha Blog</h1>
    <p class="text-center pt-5 pb-10">The best article tracker</p>
  </div>

  <div class="container text-center pt-10">
    <%= link_to 'Articles listing', articles_path %> |
    <%= link_to 'About page', about_path %>
  </div>
</div>
