<div class="rounded-full bg-black flex justify-center text-indigo-500 text-base">
  <button class=" inline-flex items-center justify-center px-2 py-1 text-sm font-bold uppercase leading-none hover:underline">
    <%= link_to category.name, category_path(category) %>
  </button>
</div>