<nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-indigo-400 mb-3 shadow-md m-0">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
      <a class="text-3xl font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white" href="/">
        Alpha Blog
      </a>
    </div>
    <div class="lg:flex flex-grow items-center" id="example-navbar-warning">
      <ul class="flex flex-col lg:flex-row list-none ml-auto">
        <li class="nav-item">
          <a class="px-3 py-2 flex items-center text-base uppercase font-bold leading-snug text-white hover:opacity-75" href="/articles">
            All articles
          </a>
        </li>
        <% if logged_in? %>
          <li class="nav-item">
            <a class="px-3 py-2 flex items-center text-base uppercase font-bold leading-snug text-white hover:opacity-75" href="/articles/new">
              New article
            </a>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="px-3 py-2 flex items-center text-base uppercase font-bold leading-snug text-white hover:opacity-75" href="/users">
             Bloggers
          </a>
        </li>
        <% if logged_in? %>
          <li class="nav-item">
            <button type="button" class="px-3 py-2 flex items-center text-base uppercase font-bold leading-snug text-white hover:opacity-75"><%= "(Admin)-" if current_user.admin? %><%= link_to current_user.username, user_path(current_user) %></button>
          </li>
          <li class="nav-item">
            <a class="px-3 py-2 flex items-center text-base uppercase font-bold leading-snug text-white hover:opacity-75" href="/logout">
              Log out
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="px-3 py-2 flex items-center text-base uppercase font-bold leading-snug text-white hover:opacity-75" href="/login">
              Log in
            </a>
          </li>
          <li class="nav-item">
            <a class="px-3 py-1 flex text-xl uppercase font-bold leading-snug text-white border rounded-full bg-indigo-700/25 hover:bg-indigo-600" href="/signup">
               Sign up!
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>